/****General****/
/*Border-box*/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

body {
  /*  font-family:sans-serif;
 */}
;
img {
	max-width: 100%;
}

/****Wrapper****/
.wrapper {
	width: 75%;
	margin: 0 auto;
}


/****Navigation Bar****/
nav {
	padding: 5px 2% 5px 2%; 
	background-color: #e6eeff;
	background-color: white;
}

.logo a {
	text-decoration: none;
	color: red;
}

.menu ul {
	padding: 0;
}

.menu ul li {
	list-style: none;
}

.menu ul li a {
	text-decoration: none;
	padding: 10px;
}

/****Hero Image****/
.heroImage{
/*Hero image set as background*/
	background: url(../images/hero_image.jpg);
	height: 80vh;
	max-width: 100%;
   	background-size: cover;

/*Flex box for hero text*/
	display: flex;
    justify-content: center;
    align-items: center;

/*Text style - centering*/
	text-align: center; 
}

.heroText {
	padding: 10%;
}

.heroText h2 {
	color: white;
	line-height: 200%;
	font-size: 3em;
}

/****Section layout****/
h2, h3 {
	text-align: center;
	color: #262626;
}

h2 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.services_text{
	width: 50%;
	margin: 2.5%;
}

.services_img{
	width: 50%;
	margin: 2.5%;
	text-align: center;
}

/****Footer****/
footer {
	background: #262626;
	color: #D1D4D7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-left {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	margin: auto 0;		
}

.footer-right {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: right;
	margin: auto 0;		
}

.footer-full {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
}

footer a {
	color: white;
	margin-left: 2%;
	vertical-align: middle;	
}

footer .fa {
	background: #404040;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}

/****Contact Form*****/
#form-wrapper {
	width: 75%;
	padding: 1em;
	margin: 1em auto;
}

.field {
  margin: 1em 0;
  max-width: 100%;
}

.button-row {
	text-align: center;
}

#form-wrapper p {
	text-align: center;
	font-size: 1.5em;
}

label {
	width: 20%;
  color: #404040;
}

input {
  width: 80%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  width: 80%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 0.8em;
  background: #990000;
  border-bottom: 1px solid #498b50;
  color: white;
  font-weight: bold;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

