/****General****/
/*Border-box*/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
	font-size: 1vw;	
}

p {
	font-size: 1.2vw;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 2.3vw;
}

h2 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #e60000;
	font-size: 3vw;
}

h3 {
	text-align: center;
	font-size: 2vw;
}




/****Wrapper****/
.wrapper {
	width: 75%;
	margin: 0 auto;
}


/****Navigation Bar****/
nav {
	padding: 5px 2% 5px 2%; 
	background-color: #e6eeff;
	background-color: white;
	height: 12vh;
	font-size: 1.5vw;
}


nav a {
	text-decoration: none;
	color: #e60000;
}



/****Hero Image****/
.heroImage{
/*Hero image set as background*/
	background: url(../images/rcs_hero_image.jpg);
	height: 70vh;
	max-width: 100%;
   	background-size: cover;

/*Flex box for hero text*/
	display: flex;
    justify-content: center;
    align-items: center;

/*Text style - centering*/
	text-align: center; 
}

@media all and (max-width:768px) {
	.heroImage{
		height: 50vh;
	}
}


.heroText h2 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	font-size: 3vw;
}


.callOutButton {
	width: 20vw;

	/*Padding and margins*/
	margin: 0 auto;
	padding: 2.5% 5% 2.5% 5%;

	/*Border*/
	border: 2px solid #001a33;

	/*Background color*/
	background-color: #0069cc;

	/*Text style*/
	color: white;
    text-decoration: none;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

/****Section layout****/
	.services_left{
		margin: 2.5% 2.5% 5% 0;
	}

	.services_right{
		margin: 2.5% 0 5% 2.5%;
	}

	.services {
		line-height: 1.6;
	}	

/****Services layout - responsive*******/
@media all and (min-width:768px) {
	.services_flex-container {
		display: flex;
		justify-content: space-between;
	}

	.services_left{
		width: 50%;
		margin: 2.5% 2.5% 5% 0;
		order: 1;
	}

	.services_right{
		width: 50%;
		margin: 2.5% 0 5% 2.5%;
		order: 2;
	}	
}

/****Footer****/
footer {
	background: #262626;
	color: #D1D4D7;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.4vw;
}

.footer-left {
	width: 50%;
	flex-direction: column; 
	padding-right: 5%;
	padding-left: 5%;
	margin: auto 0;		
}

.footer-right {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: right;
	margin: auto 0;
	flex-direction: column;
	justify-content: space-between;		
}

.footer-right p {
	margin-top: 0;
	margin-bottom: 10%;
}

.footer-full {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
}



/****Contact Us Form*****/
#form-wrapper {
	width: 75%;
	padding: 1em;
	margin: 0 auto;
}

.field {
  	margin: 1em 0;
  	max-width: 100%;
	font-size: 130%;
}

.button-row {
	text-align: center;
}


#form-wrapper h2 {
	color: black;
}

#form-wrapper p {
	text-align: center;
	font-size: 1.5em;
}

form {
	margin: 5em 0;
}


.form_flex_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.form_main {
	background-color: #ccccff;
}

label {
	margin-bottom: 0.3em;
}

input {
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.5em;
  background: #e60000;
  border-bottom: 1px solid #330000;
  border-right: 1px solid #330000;
  color: white;
  font-weight: bold;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

