/****General****/
/*Border-box*/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

body {
    font-family:sans-serif;
}

img {
	max-width: 100%;
}

/****Wrapper****/
.wrapper {
	width: 75%;
	margin: 0 auto;
}


/****Navigation Bar****/
nav {
	padding: 10px 2% 10px 2%; 
}

.logo a {
	text-decoration: none;
	color: red;
}

/****Hero Image****/
.heroImage{
/*Hero image set as background*/
	background: url(../images/1600x500.png);
	height: 70vh;
	max-width: 100%;
   	background-size: cover;
}

/****Section layout****/
h2, h3 {
	text-align: center;
}

.services_text{
	width: 50%;
	margin: 2.5%;
}

.services_img{
	width: 50%;
	margin: 2.5%;
	text-align: center;
}

/****Footer****/
footer {
	background: #262626;
	color: #D1D4D7;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-left {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	margin: auto 0;		
}

.footer-right {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: right;
	margin: auto 0;		
}

.footer-full {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
}

footer a {
	color: white;
	margin-left: 2%;
	vertical-align: middle;	
}

footer .fa {
	background: #404040;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
}
