/****General****/
/*Border-box*/
* { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; 
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container-col {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

body {
	font-size: 1vw;	
}

p {
	font-size: 1.2vw;
}

/*Making p font bigger for mobile*/
@media only screen and (max-device-width: 480px) {
	p {
		font-size: 2.5vw;
	}	
}

img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-size: 2.3vw;
}

/*Making h1 font bigger for mobile*/
@media only screen and (max-device-width: 480px) {
	h1 {
		font-size: 2.5vw;
	}	
}


h2 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	color: #e60000;
	font-size: 3vw;
}

h3 {
	text-align: center;
	font-size: 2vw;
}




/****Wrapper****/
.wrapper {
	width: 75%;
	margin: 0 auto;
}


/****Navigation Bar****/
nav {
	padding: 0.25% 2%; 
	font-size: 1.5vw;
}


/*Nav bar on mobile - making text and padding bigger*/
@media only screen and (max-device-width: 480px) {
	nav {
		padding: 3% 2.5%; 
		font-size: 2.5vw;
	}		
}

.menu a {
	text-decoration: none;
	color: #e60000;
}

.menu ul {
	padding: 0;
}

.menu ul li {
	list-style: none;
}

.menu ul a {
	text-decoration: none;
	padding: 10px;
	color: black;
}

/*Setting logo height*/
nav img {
	height: 10vh;
}

/*Making logo height smaller for mobile*/
@media only screen and (max-device-width: 480px) {
	nav img {
		height: 6vh;
	}
}

/****Hero Image****/
.heroImage{
/*Hero image set as background*/
	background: url(../images/rcs_hero_image.jpg);
	height: 70vh;
	max-width: 100%;
   	background-size: cover;

/*Flex box for hero text*/
	display: flex;
    justify-content: center;
    align-items: center;

/*Text style - centering*/
	text-align: center; 
}

@media all and (max-width:768px) {
	.heroImage{
		height: 50vh;
	}
}


.heroText h2 {
	color: white;
	text-align: center;
	text-shadow: 4px 4px 10px black;
	font-size: 3.2vw;
	padding-bottom: 1vw;
}


.callOutButton {
	width: 20vw;

	/*Padding and margins*/
	margin: 0 auto;
	padding: 2.5% 5% 2.5% 5%;

	/*Border*/
	border: 2px solid #001a33;

	/*Background color*/
	background-color: #0069cc;

	/*Text style*/
	color: white;
    text-decoration: none;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

/****Section layout****/
	.services_left{
		margin: 2.5% 2.5% 5% 0;
	}

	.services_right{
		margin: 2.5% 0 5% 2.5%;
	}

	.services {
		line-height: 1.6;
	}	

/****Services layout - responsive*******/
@media all and (min-width:768px) {
	.services_flex-container {
		display: flex;
		justify-content: space-between;
	}

	.services_left{
		width: 50%;
		margin: 2.5% 2.5% 5% 0;
		order: 1;
	}

	.services_right{
		width: 50%;
		margin: 2.5% 0 5% 2.5%;
		order: 2;
	}	
}

/****Footer****/
footer {
	background: #262626;
	color: #D1D4D7;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1.4vw;
}

.footer-left {
	width: 50%;
	flex-direction: column; 
	padding-right: 5%;
	padding-left: 5%;
	margin: auto 0;		
}

.footer-right {
	width: 50%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: right;
	margin: auto 0;
	flex-direction: column;
	justify-content: space-between;		
}

.footer-right p {
	margin-top: 0;
	margin-bottom: 10%;
}

.footer-full {
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
}



/****Contact Us Form*****/
#form-wrapper {
	width: 75%;
	padding: 1em;
	margin: 0 auto;
}

.field {
  	margin: 1em 0;
  	max-width: 100%;
	font-size: 130%;
}

.button-row {
	text-align: center;
}


#form-wrapper h2 {
	color: black;
}

#form-wrapper p {
	text-align: center;
	font-size: 1.5em;
}

form {
	margin: 5em 0;
}

.form_main {
	background-color: #ECECEE;
}

label {
	margin-bottom: 0.3em;
}

input {
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.5em;
  background: #e60000;
  border-bottom: 1px solid #330000;
  border-right: 1px solid #330000;
  color: white;
  font-weight: bold;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

/***Stylying to make text and other things on Contact Us page easier to see on mobiles***/
@media only screen and (max-device-width: 480px) {
	#form-wrapper {
		width: 95%;
	}

	#form-wrapper h2{
		font-size: 350%;
	}

	.field {
		font-size: 270%;
	}

	#form-wrapper p {
		font-size: 300%;
	}
}

/**Portfolio Page**/
.portfolio-wrapper {
	width: 95%;
	padding: 1em;
	margin: 0 auto;
	text-align: center;
}


.portfolio_row {
	display: flex;
}

.portfolio_img {
	padding: 2.5%;
}

/*Styling for button to visit a portfolio site*/
/*.visitSiteButton {
	display: block;
	width: 20vw;
	margin: 2% auto;
	padding: 1.5% 3%;

	border: 2px solid #002266;

	background-color: #0069cc;

	color: white;
    text-decoration: none;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;

    text-shadow: 2px 2px 3px black;
}

.visitSiteButton:hover {
	background-color: #003566;	
}*/

/***End of Styling for mobile Contact us styling****/

/*Sticky Footer Code*/
html, body {
  height: 100%;
  margin: 0;
/* Trivial style make the text large */
/*  font-size: 48px;*/
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex: 1;
}
/*End of Sticky Footer Code*/


